<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ibt.complaintmanagement">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_indian_oil"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_indian_oil"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ui.activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.MainActivity"
            android:label="" />
        <activity android:name=".ui.activities.LoginActivity" />
        <activity android:name=".ui.activities.SetPasswordActivity" />
        <activity android:name=".ui.activities.ForgotPasswordActivity" />
        <activity android:name=".ui.activities.ComplaintDetailActivity" />
        <activity android:name=".ui.activities.FeedbackActivity" />
    </application>

</manifest>